<h2>Register Page</h2>
<form action ='/register' method="POST">
    <!-- add these in the form feilds -->
    <%- include("_form_fields.ejs") %>
   <a href = "/">cancel</a>
   <button type="submit">Submit</button>
</form>