 <button id ="geolocate"> Locate </button>
 
 <!-- <a id ="ninjaList" href='/book/ninjaList?lat=${lat}&lon=${lon}'>Find Ninja</a> -->
 <!-- <form action ='/book/ninjaList'>
   <button id ="ninjaList" type = "submit">Find Ninjas</button>
 </form> -->
 <button id ="ninjaList" type = "submit">Find Ninjas</button>

<div id="map"> </div>
<div id="showNinjaList"></div>

